body{
	padding:0px;
	margin:0px;
}
.top{
	height:10vh;
	width:100%;
	background-color:#231F20;
	display:block;
	position:relative;
}
.logo{
	height:90%;
	width:auto;
	position:relative;
	vertical-align: top;
	margin-top: 5px;
	margin-right: 15px;
	margin-left: 15px;
}
.header{
	display:inline-block;
	position:relative;
	color:white;
	vertical-align:top;
}
#first_header{
	margin:0 0 0 5%;
}
#second_header{
	float:right;
	text-align:right;
}
.titulo{
	display:block;
	vertical-align: top;
	position:relative;
	margin:0 0 0 0;
	visibility:hidden;
}
.subtitulo{
	display:block;
	vertical-align: top;
	position:relative;
	margin:0 0 0 0;
	visibility:hidden;
}
.points{
	display:block;
	margin:0 0 0 0;
	position:relative;
	vertical-align: top;
	visibility:hidden;
}
.combo{
	display:block;
	margin:0 0 0 0;
	position:relative;
	vertical-align: top;
	visibility:hidden;
}
.fondo{
	background-image:url("../Resources/Image/gamebg.jpg");
	background-repeat:no-repeat;
	background-position:top;
	width:100%;
	height:90vh;
	padding:0;
	background-size: cover;
	position: absolute;
}
.oscuro{
	background-color:black;
	width:100%;
	height:90vh;
	padding:0;
	position:absolute;
	opacity:0.30;
}
.posicion{
	width:100%;
	height:90vh;
	padding:0;
	position:relative;
}
.ranking{
	position:absolute;
	margin-top:5%;
	visibility:hidden;
}
#canvas{
	/* width:56vw; */
	width:calc(80% - 187px);
	height:90vh;
	padding:0;
	position:absolute;
	/* margin-left:26vw; */
	margin-left:187px;
}
.song-menu{
	position:relative;
	border: 2px solid #DA1FC2;
	background-color: transparent;
	color: white;
	display:inline-block;
	padding:0 1vh 0 1vh;

}
.button-menu{
	position: relative;
	border: 2px solid #7119B2;
	background-color: transparent;
	color: white;
	display:inline-block;
	padding:0 1vh 0 1vh;


}
#_1{
	border: 2px solid #DA1FC2;
}
#_2{
	border: 2px solid #AA1D98;
}
#_3{
	border: 2px solid #801698;
}
#_4{
	border: 2px solid #7A17A3;
}
#_5{
	border: 2px solid #811ECC;
}
.puntuacions{
	color:white;
	position:relative;
	background-color:#161616;
	padding-left:5px;
	padding-right:5px;
	width:187px;
}

.puntuacions_adins{
	display:inline-block;
	vertical-align: top;
	width:140px;
	
}
.puntuacions_adins_numero{
	display:inline-block;
	vertical-align: top;
	width:28px;
	
}
.puntuacions p+p{
	display:inline-block;
}
#name_Player{
	font-size:23px;
	
}
#_1 #points{
	color:#BF1E80;
}
#_2 #points{
	color: #AA1D98;
}
#_3 #points{
	color:#801698;
}
#_4 #points{
	color:#7A17A3;
}
#_5 #points{
	color:#811ECC;
}
#points{
	position:absolute;
	
}
#combo{
	margin:0 0 0 90px;
	position:absolute;
	
}
#position{
	/* margin:0 1vh 0 2vh; */
	margin:0 0 0 0;
	font-size:55px;
	color:#606060;
	top:0;
}

.buttons{
	position: absolute;
	right: 1vw;
	bottom: 0;
	font-size: 23px;


}


.music-container{
	font-family:sans-serif;
	/* width:350px; */
	width:20%;
	right:0;
	display:block;
	position:absolute;
	background-color:#231F20 ;
	display: none;
  }
  
  .music-header .title{ 
	width:250px;
	height:40px;
	position:absolute;
	margin-left:30px;
	margin-top:10px;
	text-align:center;
	padding-left:10px;
  }
  
  .music-playlist{
	width:100%;
	height:450px; 
  }
  
  .music-box{
	width:100%;
	height:90vh;
	overflow:scroll;
	overflow-x:hidden;
  }
  
  .music-box::-webkit-scrollbar{
	width:0px;
	background:transparent;
  }
  
  .music-box .fa-ellipsis-v{
	margin-right:10px;
	margin-top:22px;
	font-weight:normal;
	color:#e1e1e1;
	cursor:pointer;
  }
  
  .music-info{
	
	width:100%;
	height:50px;
	display:flex;
  }
  
  .music-name{
	width:100%;
	padding:0 0 0 0;
	height: 50px;
  }
  
  .music-name h6{
	margin-top:30px;
	font-size:30px;
	font-weight:normal;
	letter-spacing:0.5px;
	cursor:pointer;
	line-height:35px;
	color:#e1e1e1 ;
  }
  
  .music-name p{
   
	font-size:20px;
	font-weight:normal;
	letter-spacing:0.5px;
	cursor:pointer;
	line-height:1px;
	color:#e1e1e1;
  }
  
  hr{
	width:95%;
	margin-top: 4px !important;
	margin-bottom: 6px !important;
  }
  
  .song-name{
	width:150px;
	height:50px;
  }
  
  .song-name h5{
	margin-top: 20px;
	margin-left:10px;
	font-size:15px;
	font-weight:normal;
	letter-spacing:0.5px;
	line-height:6px;
  }
  
  .song-name p{
	  font-size:10px;
	  margin-left:10px;
	  letter-spacing:0.5px;
	  color:#ccc;
  }
  
  .music-name input{
	  width:100%;
  }
  
  #m1 p, #m1 h6{
	  padding:0;
  }
  #m2 h6 {
	  margin-bottom:3em;
  }
  
  #m2 p{
	  margin:2em 0 1em 0;
  }
  #m2 .music-name{
	  margin:0 1.5em 0 1.5em;
  }
  #songs:hover{
	  background-color:#383435;
  }
  #songs{
	  position:relative;
	  height:4.5em;
	  cursor: pointer;
	  padding-top:0.5em;
  }
  #songs h6{
	  margin:0em 0em 0em 0.5em;
  }
  #songs p{
	  margin:0.5em 0em 0em 1em;
  }
  .progress_bar{
	  position:absolute;
	  bottom:0;
	  width:80%;
  }
  #mensaje_div{
	position:absolute;
	transform: translate(0, -50%);
	top: 50%;
	left:20%;
	width:60%;
	padding:5em;
	background-color:#231F20;
	color:white;
	text-align:center;
	visibility:hidden;
  }
  #mensaje{
	  font-size:5em;
  }