@keyframes pulse {
  0% {
    transform: scale(1) rotateY(-13deg) rotateX(17deg) rotateZ(-7deg); }
  50% {
    transform: scale(1.01) rotateY(-13deg) rotateX(17deg) rotateZ(-7deg); }
  100% {
    transform: scale(1) rotateY(-13deg) rotateX(17deg) rotateZ(-7deg); } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1) rotateY(-13deg) rotateX(17deg) rotateZ(-7deg); }
  50% {
    -webkit-transform: scale(1.01) rotateY(-13deg) rotateX(17deg) rotateZ(-7deg); }
  100% {
    -webkit-transform: scale(1) rotateY(-13deg) rotateX(17deg) rotateZ(-7deg); } }

*, *:before, *:after {
  box-sizing: border-box;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  font-family: verdana;
  color: #FFF;
  text-decoration: none; }

body {
  margin: 0;
  padding: 0; }

.bg {
  z-index: -1;
  position: absolute;
  margin-top: -150px;
  background-color: #231F20;
  background-image:url("../Resources/Image/gamebg.jpg");
  background-repeat:no-repeat;
  background-position:top;
  width:100%;
  height:100vh;
  padding:0;
  background-size: cover;
  box-shadow: 26px 50px 500px rgba(0, 0, 0, 0.35) inset;
  height: 100%;
  width: 100%; }

.osu-main {
  position: relative;
  margin-top: 150px;
  margin-left: 50%;
  left: -250px;
  height: 500px;
  width: 500px; }

.osu-main .osu {
  cursor: pointer;
  height: 500px;
  width: 500px;
  border: 10px solid #FFFFF4;
  border-radius: 100%;
  text-align: center;
  line-height: 440px;
  font-size: 150px;
  text-shadow: 0 0 15px #FFFFDD;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.2) inset, -90px -160px 180px rgba(0, 0, 0, 0.23) inset;
  background-color: #231F20;
  transform: rotateY(-13deg) rotateX(17deg) rotateZ(-7deg);
  -webkit-transform: rotateY(-11deg) rotateX(13deg) rotateZ(-5deg);
  overflow: hidden;
  animation: pulse 0.4s linear infinite;
  -webkit-animation: pulse 0.4s linear infinite; }

.osu-main .osu-main-menu {
  position: absolute;
  top: 41.66667px;
  left: 250px; }

.osu-main .osu-main-menu div {
  cursor: pointer;
  position: relative;
  margin: 5px;
  border: 3px solid #FFFFF4;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.2) inset, -15px -35px 80px rgba(0, 0, 0, 0.33) inset;
  background-color: #231F20;
  height: 100px;
  text-align: right;
  padding-right: 52px;
  line-height: 87px;
  font-size: 0px;
  width: 0;
  opacity: 0; }

.osu-main .osu-main-menu .edit {
  border-radius: 0 2.5em 0.3em 0;
  visibility: hidden;
  }

.osu-main .osu-main-menu .play {
  border-radius: 0 1em 0.3em 0; }

.osu-main .osu-main-menu .options {
  border-radius: 0 0.3em 1em 0; }

.osu-main .osu-main-menu .exit {
  border-radius: 0 0.3em 2.5em 0;
  visibility: hidden;
  }

/* ANIMATIONS */
.osu-main:hover {
  left: -400px; }

.osu-main:hover .osu {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  animation: none;
  -webkit-animation: none; }

.osu-main:hover .osu:active {
  transform: scale(1.05);
  -webkit-transform: scale(1.05); }

.osu-main:hover .osu-main-menu .edit {
  width: 550px;
  font-size: 70px;
  opacity: 1; }

.osu-main:hover .osu-main-menu .play {
  width: 600px;
  font-size: 70px;
  opacity: 1; }

.osu-main:hover .osu-main-menu .options {
  width: 600px;
  font-size: 70px;
  opacity: 1; }

.osu-main:hover .osu-main-menu .exit {
  width: 550px;
  font-size: 70px;
  opacity: 1; }

.osu-main .osu-main-menu div:hover {
  transform: scale(1.07);
  -webkit-transform: scale(1.07); }

.osu-main .osu-main-menu div:active {
  transform: scale(1.03);
  -webkit-transform: scale(1.03); }

.osu-main .osu-main-menu div:hover {
  width: 620px;
  text-shadow: 0 0 15px #FFFFDD;
  border-radius: 0 1em 1em 0; }
.logo{
	height:80%;
	width:auto;
	position:relative;
	vertical-align: bottom;
}

#profile {
  position: absolute;
  top: 1vh;
  left: 1vw;
}

#profile img{
  float: left;
}

#profile p{
  float: left;
  margin-left: 1vw;
}